@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

/*-------------------------------------------------- General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*-------------------------------------------------- Button */
.button-producto {
  margin: 5px;
  width: 150px;
  background: #333;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 14px;
  color: rgb(161, 161, 161);
  -webkit-transition: 500ms;
  transition: 500ms;
  border-radius: 5px;
  background: linear-gradient(145deg, #2e2d2d, #212121);
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
    inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.button-producto:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.button-producto:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: #d6d6d6;
  -webkit-transition: 100ms;
  transition: 100ms;
}
.button-producto:hover,
.button-producto:focus {
  opacity: 0.6;
}
.button-producto:hover {
  cursor: pointer;
}

button {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 24px;
  background-color: #5caebf;
  border: none;
  border-radius: 6px;
  transition: opacity 300ms ease-in-out;
}

header {
  height: 4.5em;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background-color: #000000;
  grid-area: hdr;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

/*-------------------------------------------------- Main */
main {
  padding: 3rem 2rem;
  font-size: 1.2em;
  grid-area: mn;
  background-color: #272727;
}

/*-------------------------------------------------- Footer */
footer {
  background-color: #fbfbfb;
  padding: 0 1rem;
  grid-area: ftr;
}

/*-------------------------------------------------- Forms */
label {
  margin-bottom: 1rem;
  display: inline-block;
}
.logo {
  width: 3em;
}
header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.filtros a {
  color: #929292;
  margin: 0 6em;
  font-weight: bold;
  text-decoration: none;
}
.filtos a:hover {
  color: #50c220 !important;
}
#minicarrito p {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 17px;
  background-color: rgb(255, 255, 255);
}

#minicarrito p span {
  text-align: center;
  font-size: 0.8em;
}
.button-carrito {
  background-color: transparent;
  margin-left: -16px;
}
.button-carrito svg {
  color: #929292;
  fill: #a4a4a4;
  margin-top: 2px;
}

/*-------------------------------------------------- Gallery */
div h3 {
  text-align: left;
  margin-left: 10px;
  color: white;
  font-weight: 300;
  height: 2.5em;
}

.div-producto {
  border-bottom: 2px solid #9dff06;
  padding: 1rem 0;
}
.div-producto p {
  margin-bottom: 1em;
  text-align: left;
  margin-left: 10px;
  color: rgb(150, 150, 150);
  font-size: small;
}

/*----------- Carrito*/

#productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  width: 85%;
  margin: auto;
}

#productos > li {
  -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  width: 22%;
  text-align: center;
  background-color: #141414;
  margin-bottom: 1em;
}

#productos > li > img {
  width: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  display: flex;
  /*flex-direction: column;*/
  /*justify-content: center;*/
  align-items: center;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal > div {
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 1rem;
  min-width: 550px;
}

.modal a {
  text-decoration: none;
  /*color: #d0e0e3;*/
}

.modal a.cerrar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 1em;
  right: 1em;
  border-radius: 2.5em;
  width: 2em;
  height: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #1bb600;
  text-decoration: none;
}

.modal a.cerrar:hover {
  background-color: #1bb600;
  color: rgba(255, 255, 255, 0.9);
}

.modal img {
  height: 30%;
  max-width: 300px;
}

.modal h3,
.modal p,
.modal li {
  display: flex;
  justify-content: space-around;
  margin: 0.25em 0;
  /*width: 90%;*/
}

.modal li span {
  font-size: 1em;
}

.modal ul {
  padding: 0;
  width: 100%;
  text-align: center;
}

/**
 * Web
 */
@media screen and (min-width: 960px) {
  /** Main */
  main div.gallery {
    flex-direction: row;
  }

  main div.gallery > img {
    max-width: 24%;
    margin: 1em 0.5%;
  }

  main div.gallery div {
    align-self: flex-start;
    width: 30%;
  }

  /** Footer */
  footer ul {
    flex-direction: row;
  }
}

.modalProducto div {
  border: 2px solid rgb(2, 211, 2);
  border-radius: 5px;
  background-color: #141414 !important;
  color: white;
}
.modalProducto div p {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}

.modalProducto div img {
  padding: 1em;
  margin-bottom: 0.5em;
}

/*Carrito*/
.carrito-imagen {
  width: 5em;
}
.div-carrito {
  background-color: #20232e !important;
}
.li-carrito {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center !important;
}
li p {
  color: white;
}
.contador {
  color: white;
  font-size: medium;

  padding-bottom: 0.5em;
}
.li-carrito li {
  width: 37em;
  border: 1px solid rgb(214, 214, 214);
  padding: 1em;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
  align-items: center;
}
.li-carrito li h3 {
  width: 15em;
  align-items: start;
  text-align: start;
}
h4 {
  color: white;
}

.modalAnuncio {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.buttonVaciar {
  font-size: 12px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.buttonVaciar:focus,
.buttonVaciar:hover {
  color: #fff;
}

.buttonVaciar:focus:after,
.buttonVaciar:hover:after {
  width: 100%;
  left: 0%;
}

.buttonVaciar:after {
  content: "";
  pointer-events: none;
  bottom: 0px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.buttonComprar {
}
.button-eliminar {
  background-color: transparent;
  border: 1px solid red;
}

.anuncioImg {
  border: 1px solid green;
}

#checkout {
  background-color: #1bb600;
}

.InputCheck {
  width: 100%;
  height: 50px;
}

.labelCheck {
  margin: 10px;
}

.modalContenedor {
  display: flex;
  align-items: flex-start !important;
}

.divCheck {
  margin: 20px 0px 20px 0px;
  display: flex;
}

.divCalle .divPostal {
  display: flex;
  flex-direction: column;
}

.divCC {
  display: flex;
  gap: 10px;
}

#divSubmit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
